@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
  margin-right: 10px;
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  height: 50px;
  padding: 20px;
  text-align: center;
  border: 1px solid whitesmoke !important;
}
